/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  font-family: 'Dancing Script', cursive; /* Fuente manuscrita aplicada al cuerpo */
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

{
  font-family: comic-sans;
} */

body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start; /* Cambiado para alinear desde arriba */
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
  margin-top: 12rem; /* Ajuste para posicionar la carta más abajo */
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 221px solid #fe3334;
  border-bottom: 100px solid transparent;
  transition: transform 0.75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.2rem;
  line-height: 1.4rem;
  right: 5px;
  z-index: -1;
  background: rgb(254, 226, 226);
  width: 386px;
  height: 220px;
  transition: all 0.75s;
  font-family: 'Dancing Script', cursive; /* Fuente manuscrita aplicada al papel */
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 201px solid #ff989e;
  border-top: 210px solid transparent;
  border-bottom: 77px solid #ff858a;
}

.options {
  display: flex;
  gap: 5rem;
  margin-top: 2rem; /* Ajuste para posicionar los botones más abajo */
}

.options button {
  color: #ff3234;
  font-weight: 600;
  border-radius: 3px;
  background: #fad7df;
  padding: 0.5rem 1rem;
  border: 1px solid #fe3334;
  cursor: pointer;
  font-family: 'Dancing Script', cursive; /* Fuente manuscrita aplicada a los botones */
}

.options button:hover {
  background: #ff989e;
  color: white;
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper 0.5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -200px;
  }
}

.close-paper {
  animation: closePaper 0.5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;
  color: #fe3334;
  animation: crecer 1s forwards;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}
